PERF-CFLAGS
PERF-GUI-VARS
PERF-VERSION-FILE
bug
bug-help
bug-record
bug-report
bug-stat
bug-top
bug*.1
bug*.xml
bug*.html
common-cmds.h
bug.data
bug.data.old
bug-archive
tags
TAGS
cscope*
config.mak
config.mak.autogen
